<h1 style="margin-bottom: 50px;">Find and purchase data subscriptions</h1>
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <div class="list-group-item">
        <span class="lead text-primary text-center">Categories</span>
      </div>
      <a class="list-group-item" href="#">
        <strong><em>My Uploaded Datasets</em></strong>
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Automotive, Industrial, Aerospace
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Business & Finance
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Communications
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Consumer Goods
      </a>
      <a class="list-group-item active" href="#">
        <span class="badge pull-right"></span>
        Demographics
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Health & Wellness
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Manufacturing
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Media & Entertainment
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Real Estate
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Government
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Hi-Tech & Electronics
      </a>
      <a class="list-group-item" href="#">
        <span class="badge pull-right"></span>
        Retail & Hospitality
      </a>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=1c203be5-2f42-4cdf-a4d0-b0422eccf9d5&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Business Verification</span><br/>
        <small>Published By: D&B</small><br/>
        <span>D&B Business Verification validates, standardizes and matches company name and address data against D&B’s continually updated Global Database of 225+ million businesses via API and through integration with Microsoft Office online applications.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=ba2ea3bf-434c-4d8d-9f0f-918fffdf666f&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Power Data</span><br/>
        <small>Published By: dotLogic</small><br/>
        <span>This catalog contains a series of reference data sets designed as star schema dimension tables for specific use in data warehouses and self service Power BI, Power Query and Power Pivot data models.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=9d21998e-219a-403b-b5ca-e1b52b399e07&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Finviews Fundamentals</span><br/>
        <small>Published By: FinViews Solutions Pty Ltd</small><br/>
        <span>FinViews specialises in solutions for the financial services industry and investors that enable dramatically improved transparency and insight in the quickest possible time frame combining internal and external data sources. The company offers various corporate data information services for investors and finance professional including financial business fundamentals (10K, 10Q), institutional holdings (13F) as well as powerful add on solutions for predictions, finance modelling and data mining.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=aec04387-0110-4f27-8766-faa70a8f75c0&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Wolfram|Alhpa Facts</span><br/>
        <small>Published By: Wolfram Alpha LLC</small><br/>
        <span>Wolfram|Alpha is a computational knowledge engine that generates powerful results and presents them with maximum clarity. With Wolfram|Alpha, you have fast access to curated and validated data on a broad range of topics. In addition to facts available at http://www.wolframalpha.com, the data provided by Wolfram|Alpha on the DataMarket Service, gives users access to a vast array of time series data.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=ac8e50bd-43e5-4648-abc8-48bb3ec0a11b&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">European Greenhouse Gas Emissions</span><br/>
        <small>Published By: European Environment Agency</small><br/>
        <span>Data on greenhouse gas emissions and removals, sent by European countries to the United Nations Framework Convention on Climate Change and the European Union Greenhouse Gas Monitoring Mechanism (EU Member States).</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=7192be67-8d0a-483b-bc29-68e43610a9e1&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Worldwide Historical Weather Data</span><br/>
        <small>Published By: Weather Trends International</small><br/>
        <span>Historical daily maximum temperature, minimum temperature, precipitation, dewpoint, sea level pressure, windspeed, and wind gust for thousands of locations around the world.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=623d5f4a-accd-4a10-b0ae-15e8e4643557&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">US GeoSpatial Boundary Search</span><br/>
        <small>Published By: GeoLuminate LLC</small><br/>
        <span>We offer high quality geometry data that describes USA country, State, County, and Zip code borders in SQL format for users to consume.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=6c57f0b0-1f62-48d3-bcf5-23fdc263fc8b&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">California Commerical Properties in Foreclosure</span><br/>
        <small>Published By: Home Star Inc.</small><br/>
        <span>Foreclosure Details of Commercial Properties in California Facing Foreclosure. Updated Weekly.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=d11a9c01-19a1-419b-9858-a664a95a4347&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">Real GDP Per Capita By State (1997-2011)</span><br/>
        <small>Published By: Bureau Of Economic Analysis</small><br/>
        <span>Real GDP per capita by state.</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=f6e4532b-8c0f-4f57-9ff5-6420457bde09&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">US County Code</span><br/>
        <small>Published By: MENCHEN INC</small><br/>
        <span>This offering includes FIPS codes for all US Counties. FIPS code is a unique code assigned to identify each county in the United States</span>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <img src="http://az36026.vo.msecnd.net/Image?type=Offer&id=29924398-7e00-4f6c-8a65-ee5c92d2d4d1&format=browse">
      </div>
      <div class="col-md-10">
        <span class="lead">USA 2011 Car Crash Data</span><br/>
        <small>Published By: BigML</small><br/>
        <span>Dataset of people who were involved in car accidents with fatalities in the USA in the year 2011.</span>
      </div>
    </div>

  </div>

</div>