<h1 style="margin-bottom: 50px;">Use these powerful algorithms on your datasets with ease</h1>
<div class="row">
  <div class="col-md-4">
    <h3><img src="/img/user_seg.png"> User Segmentation</h3>
    Automatically segments your users into multiple groups based on their associated meta-data.
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">  
            Scalable JSON based schema to find hidden clusters.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/124/small.png?1383868096)">
            Cloudant Clustering
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Elastic, scalable, highly available and secure.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/925/small.png?1383868052">
            Iron Cache
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Enterprise class user clusterer for developers.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1321/small.png?1383868115">
            Memcached Cloud
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Promotion performance insight.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1240/small.png?1383868145">
            TraceView Beta
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            User insights and analytics from your database.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/465/small.png?1383868048">
            DbInsights
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            User dissatisfaction and root cause analysis.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/766/small.png?1383868122">
            Librato
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Hosted user segmentation for sales perfomance.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1297/small.png?1383868114">
            StatusPage
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Install user segmentation in your app.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/774/small.png?1383868005">
            Gemfury
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Segment your users from proxies.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1336/small.png?1383906432">
            QuotaGuard Beta
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4">
    <h3><img src="/img/demand_fore.png"> Demand Forecasting</h3>
    Forecasts demand for your products or services based on historical sales data.
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Cloud demand forecasting.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/523/small.png?1384786904">
            Treasure Data Hadoop
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Powerful demand analytics.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1314/small.png?1383868121">
            GameRocket
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Recommendation as a service.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1125/small.png?1383868080">
            Rcmmndr
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Demand forecasting for developers.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1030/small.png?1383868067">
            Stormpath User
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Shelter your business from inventory drain.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/1171/small.png?1383868057">
            Bomberman
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Query our robot for demand forecasts.
          </div>
          <div class="panel-footer">
            <img src="https://s3.amazonaws.com/assets.heroku.com/addons.heroku.com/icons/528/small.png?1383868030">
            Robo Whois
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
